
<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="section-title-04 center text-center mb-5 position-relative">
                <span class="sm-title">Services</span>
                <h2 class="title-main2 mb-0 col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 mx-auto">Shine with our makeup line</h2>
                <div class="line"></div>
            </div>
        </div>
        <div class="row mt-n1-9">
            <div class="col-lg-4 mt-1-9 order-2 order-lg-1">
                <div class="service-sidebar ">
                    <div class="service-list rounded" >
                        <div class="bg-primary rounded-top p-4 ">
                            <h2 class="text-white mb-0">Our Services</h2>
                        </div>
                        <ul class="cetegory bg-secondary rounded-bottom p-4 list-unstyled mb-0">
                            <li class=" mb-2"><a routerLink="/eyeLash">Eyelash Service<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2 active"><a routerLink="/make-Up">Make Up Service<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2 "><a routerLink="/nail">Nail Service<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2"><a routerLink="/Facial">Facial Treatments<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2"><a routerLink="/body-Wax">Body Waxing<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2"><a routerLink="/massage" class="mb-0">Massage Thearpy<i class="fa-solid fa-angle-right"></i></a></li>
                            <li class="mb-2"><a routerLink="/hair" class="mb-0">Hair service<i class="fa-solid fa-angle-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="banner-wrapper rounded ">
                        <img src="../../../assets/service/service-details-02.jpg" class="rounded-top img-fluid" alt="...">
                        <div class="p-2-2 pt-6 position-relative bg-secondary text-center rounded-bottom">
                            <div class="icon-boxs bg-primary">
                                <i class="fa-solid fa-headphones-simple fa-2xl" style="color: #ffffff;"></i>
                            </div>
                            <h4 class="pt-5 mb-3 text-white">How Can We Help?</h4>
                            <ul class="text-center list-unstyled mb-0">
                                <li class="text-white mb-2"><i class="fa fa-phone  text-white me-2"></i><a href="services-details.html#!" class="text-white">(+44)123 456 789</a></li>
                                <li class="text-white"><i class="fa fa-envelope-open  text-white me-2"></i><a href="services-details.html#!" class="text-white">addyouremailhere</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-1-9 order-1 order-lg-2">
                <div class="content-container">
                    <div class="mb-1-6 mb-lg-5 text-center rounded">
                        <img src="../../../assets/service/makeup-detail.jpg"  alt="..." class="img-fluid">
                    </div>
                    <div class="" >
                        <h2 class="mb-3">Make Up Services</h2>
                        <p class="mb-1-6 mb-lg-5">Our professionals deliver stunning looks with a keen eye for detail for our client. We use only the highest quality makeup products and techniques to achieve optimal results, ensuring that your makeup lasts all day and looks flawless in every light!</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-0 " >
                            <div class="d-flex align-items-center bg-light">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/service/makeup prep.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="h5">Prepration</h4>
                                    <p class="mb-0">Quality Products used in Makeup</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4" >
                            <div class="d-flex align-items-center bg-light">
                                <div class="flex-shrink-0">
                                    <img src="../../../assets/service/makeup pros.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="h5">Process</h4>
                                    <p class="mb-0">process of involving soaking, exfoliation, and massage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h2 class="h3 mb-4">Related Services</h2>
                    </div>
                    <div class="row mb-1-9">
                        <div class="col-md-6" >
                            <div class="card-style-01 position-relative text-center">
                                <div class="card-hover-img"><img src="../../../assets/shape-11.png" alt="..."></div>
                                <div class="card-img">
                                    <img  src="../../../assets/service/makeup-bride.jpg" alt="..." class="img-fluid">
                                </div>
                                <h3 class="mb-3 card-heading">Bridal Make Up</h3>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="card-style-01 position-relative text-center">
                                <div class="card-hover-img"><img src="../../../assets/shape-11.png" alt="..."></div>
                                <div class="card-img">
                                    <img  src="../../../assets/service/make party.jpg" alt="..." class="img-fluid">
                                </div>
                                <h3 class="mb-3 card-heading">Party Make Up</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
