.bg-light-yellow{
    background-color:#f9f6f1
}
.contact-container{
    padding-top: 140px;
    padding-bottom: 64px;
}
.section-title-04 .sm-title{
    position:relative;
    font-weight:700;
    text-transform:uppercase;
    font-size:15px;
    font-family: "Mulish", sans-serif;
    display:inline-block;
    margin-bottom:12px;
    color:#ff497c;
    z-index:9;
}
.section-title-04 .title-main2{
    position:relative;
    z-index:9;
    font-family: 'play-fair', sans-serif;
    font-size:40px
}
.section-title-04 .line{
    content:"";
    position:absolute;
    width:65px;
    height:2px;
    bottom:-17px;
    background-color:#ff497c
}
.section-title-04.center .line{
    left:50%;
    transform:translateX(-50%)
}
.section-title-04 .line:before{
    content:"";
    position:absolute;
    top:0;
    left:70%;
    width:8px;
    height:2px;
    background-color:#fdf5e6
}
.section-title-04 .line.black:before{
    background-color:#1f2732;
}
@media screen and (max-width: 1199px){
    .section-title-04 .title-main2{
        font-size:36px
    }
}
@media screen and (max-width: 991px){
    .section-title-04 .title-main2{
        font-size:30px
    }
}
@media screen and (max-width: 767px){
    .section-title-04 .title-main2{
        font-size:25px
    }
}

.contact-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
.contact-us .contact-details .contact-info{
    border-bottom:1px solid rgba(255,255,255,0.1215686275);
    padding-right: 25px;
    /* padding:0 0 25px; */
    margin-bottom:22px;
}
.contact-us .contact-details{
    padding: 3rem;
    margin-bottom: 3rem;
}
.contact-us .contact-details .contact-info .contacts-icon{
    margin-right:20px;
    width:55px;
    height:55px;
    background-color:rgba(255,255,255,0.5196078431);
    text-align:center;
    transition:.5s;
    display:flex;
    justify-content:center;
    align-items:center
}
.contact-us .contact-details .follow-company-icon2 a{
    font-size:14px;
    display:inline-block;
    color:#fff;
    margin-right:7px;
    transition:.5s;
    width:30px;
    height:30px;
    line-height:30px;
    border-radius:15px;
    background-color:rgba(255,255,255,0.2);
    text-align:center;
}
.contact-us .contact-details .follow-company-icon2 a:hover{
    background:#ff497c;
}
/* @media screen and (max-width: 479px){
    .contact-us .contact-details .contact-info .contacts-icon{
        width:45px;
        height:45px
    }
} */
/* .contact-form{
    margin: 4rem 0rem;
    padding: 3rem;
} */
.contact-us-section{
    padding: 0rem 3rem 3rem;
    margin-bottom: 3rem;
}
.quform-element{
    margin-bottom:2rem;
    font-family: "Mulish", sans-serif;
}
.quform-element .quform-required{
    color: #ff497c;
}
.quform-element .form-control{
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
}
.quform-element .form-control:focus{
    border: 1px solid #ff497c;
}
.appointment .quform-elements .quform-element textarea{
    padding:15px 16px;
}
.btn-style1{
    cursor:pointer;
    display:inline-block;
    position:relative;
    font-size:15px;
    font-weight:700;
    line-height:26px;
    color:#ffffff;
    background:#ff497c;
    padding:14px 32px !important;
    border-radius:0;
    z-index:1;
    text-transform:uppercase;
    transition:all 0.4s ease-in-out 0s;
    border-radius:2px
}
.btn-style1:hover{
    background:#1f2732
}
.btn-style1 span{
    position:relative;
    z-index:9;
    color:#ffffff;
}
