
<!-- video section  -->
<section>
    <div class="container contact-container">
        <div class="row">
            <div class="section-title-04 center text-center mb-5 position-relative">
                <h2 class="title-main2 mb-0 col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 mx-auto">Contact Us</h2>
                <div class="line"></div>
            </div>
            <div class="col">
                <div class="contact-video">
                    <div class="video-background">  
                        <div class="ratio ratio-16x9">
                            <iframe 
                            src="https://www.youtube.com/embed/aP8DdvZs9Hc?autoplay=1&mute=1&controls=0&loop=1&modestbranding=1&rel=0"  
                            title="YouTube video" 
                              frameborder="0" 
                              allow="autoplay; fullscreen" 
                              allowfullscreen>
                            </iframe>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- form continer  -->
<section>
    <div class="container">
        <div class="contact-us mt-5">
            <div class="row">
                <div class="col-lg-7 contact-us-section">
                    <div class="section-title-04 mb-5 position-relative">
                        <span class="sm-title">Our Contact</span>
                        <h2 class="title-main2 mb-0">Get In Touch</h2>
                        <div class="line"></div>
                    </div>
                    <form class="contact quform" action="https://beauty.websitelayout.net/quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                        <div class="quform-elements">
                            <div class="row">
        
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="name">Your Name <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="name" type="text" name="name" placeholder="Your name here">
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="email">Your Email <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="email" type="text" name="email" placeholder="Your email here">
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="quform-element form-group quform-select-replaced">
                                        <label for="subject">Your Subject <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <input class="form-control" id="subject" type="text" name="subject" placeholder="Your subject here">
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="quform-element form-group">
                                        <label for="phone">Contact Number</label>
                                        <div class="quform-input">
                                            <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone here">
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-12">
                                    <div class="quform-element form-group">
                                        <label for="message">Message <span class="quform-required">*</span></label>
                                        <div class="quform-input">
                                            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-12">
                                    <div class="quform-submit-inner">
                                        <button class="btn-style1 border-0" type="submit">Send Message</button>
                                    </div>
                                    <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                </div>
        
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="col-lg-5 mt-2-9">
                    <div class="contact-details bg-dark  rounded">
                        <div class="section-title-04 mb-6 position-relative">
                            <span class="sm-title">Contact</span>
                            <h2 class="title-main2 mb-5 text-white">Our Contact Information</h2>
                            <div class="line black"></div>
                        </div>
                        <div class="d-flex contact-info align-items-center">
                            <div class="flex-shrink-0 contacts-icon">
                                <img src="../../../assets/icons/icon-06.png" alt="...">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="text-white font-weight-600 h6">Send E-Mail</h5>
                                <h6 class="text-white font-weight-400 mb-0 opacity7 main-font">info&#64;example.com</h6>
                            </div>
                        </div>
                        <div class="d-flex contact-info align-items-center">
                            <div class="flex-shrink-0 contacts-icon">
                                <img src="../../../assets/icons/icon-07.png" alt="...">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="text-white font-weight-600 h6">Call Anytime</h5>
                                <h6 class="text-white font-weight-400 mb-0 opacity7 main-font">+923000000098</h6>
                            </div>
                        </div>
                        <div class="d-flex contact-info align-items-center">
                            <div class="flex-shrink-0 contacts-icon">
                                <img src="../../../assets/icons/icon-05.png" alt="...">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="text-white font-weight-600 h6">Locations</h5>
                                <h6 class="text-white font-weight-400 mb-0 opacity7 main-font">66 Guild Street 512B, Great North Town.</h6>
                            </div>
                        </div>
                        <div class="follow-company-icon2">
                            <a href="contact.html#"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="contact.html#"> <i class="fab fa-twitter"> </i> </a>
                            <a href="contact.html#"> <i class="fab fa-linkedin-in"></i> </a>
                            <a href="contact.html#"> <i class="fab fa-pinterest-p"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  

