
.blog-container{
    margin: 5rem auto;
}
.blog-heading{
    margin: auto;
    padding-top: 200px;
    font-family: "play-fair-medium", sans-serif;
    font-size: 80px;
    /* font-style: ; */
}

.bg-img{
    background-image: url(../../../assets/blog/blog-bg.JPG);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    min-height: 100vh ;
}
.mask{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(249, 246, 241, 0.6);
    mask-size: 100%; 
}
.card-style-10{border:none;border-radius:0;height:100%}
.card-style-10 .image{position:relative;overflow:hidden;margin-bottom:0;border-radius:0.375rem}
.card-style-10:hover .image img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.card-style-10 .image img{display:block;width:100%;-webkit-transition:all .8s ease;transition:all .8s ease}
.card-style-10 .image-box{position:relative}
.card-style-10 .image-box .blog-date span{position:relative;color:#ffffff;font-weight:700;font-size:30px;display:block;text-align:center;margin-bottom:10px}
.card-style-10 .card-icon{width:56px;height:56px;background-color:#ff497c;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:0;color:#fff;padding:0 20px;line-height:1.3;position:absolute;top:20px;right:20px;transition:0.5s;font-size:15px}
.card-style-10 .card-icon:before{position:absolute;left:0;height:100%;width:100%;top:6px;background-color:#ff497c;content:"";opacity:.3;z-index:-1}.card-style-10 .card-body{position:relative;background:#ffffff;box-shadow:0 10px 60px 0 rgba(0,0,0,0.05);margin:-40px 15px 0 15px;padding:30px 25px;z-index:1}
.card-style-10 .card-body .blog-info{padding-left:25px;margin-bottom:25px;border-left:2px solid #fe982f}
@media screen and (max-width: 575px){.card-style-10 .card-body{margin:-30px 10px 0 10px}}.lg-backdrop{z-index:99999}.lg-outer{z-index:999999}
.border-radius-10{
    border-radius: 10px;
}
.border-radius-10 li,a{
    color: #000;
}
.blog-title{
    font-family: "play-fair-medium", sans-serif;
}
.read-more{
    color: #4d4949;
    font-family: 'Montserrat', sans-serif;

}
