<footer class="position-relative pt-6 pt-md-8 pt-lg-10 pt-xl-12 bg-secondary pt-5">
  <div class="container position-relative">
      <div class="row mt-n5 pb-1-9 pb-sm-6 pb-md-8 pb-lg-10 pb-xl-12">
          <div class="col-lg-6 mt-5 ">
              <div>
                  <h2 class="text-white footer-text-1">
                      Premium quality &amp; services since 1994!</h2>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="row">
                  <div class="col-sm-6 mt-5">
                      <div>
                          <div class="textwidget">
                              <div class="sec-title pb-4">
                                  <h3 class="text-white">Address</h3>
                              </div>
                              <address class="mb-0">London — <br>4211 Webster Street Rahway,<br>Franklin Park, Indiana</address>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 mt-5 text-sm-end">
                      <div>
                          <div class="textwidget">
                              <div class="sec-title pb-4">
                                  <h3 class="text-white">Contacts</h3>
                              </div>
                              <p class="email"><a href="mailto:info@yourdomain.com" class="display-29 display-md-28 display-xl-27">info&copy;yourdomain.com</a></p>
                              <p class="phone"><a href="tel:+442056581823" class="display-26 display-md-25 display-xl-24">+44 205-658-1823</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-border">
      <div class="container">
          <div class="row align-items-center py-4">
              <div class="col-md-7 col-lg-6 text-center text-md-start order-2 order-md-1">
                  <p class=" rights-text text-white mb-0">
                      &copy; {{date}} All rights reserved by <a href="index-04.html#!" class=" text-white-hover">Inovedia Technologies</a>
                    </p>
              </div>
              <div class="col-md-5 col-lg-6 text-center text-md-end mb-3 mb-md-0 order-1 order-md-2">
                  <ul class="social-icon-style1">
                      <li><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                      <li><a target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
