
<section class=" services-section">
    <div class="container ">
        <div class="section-title-04 center text-center mb-5 position-relative">
            <span class="sm-title">Services</span>
            <h2 class="title-main2 mb-0 col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 mx-auto">Welcome to the Beauty &amp; Spa Center</h2>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 " *ngFor="let item of ourServices">
                <div class="card-style-01 position-relative text-center">
                    <div class="card-hover-img"><img src="../../../assets/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img  [src]="item.serviceImg" alt="..." class="img-fluid">
                        <div class="card-icon"><img [src]="item.serviceIcon" alt="..."></div>
                    </div>
                    <h3 class="mb-3 card-heading"><a [routerLink]="item.routeLink">{{item.serviceTitle}}</a></h3>
                    <p class="card-text">{{item.serviceDetail}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- WHY CHOOCE US
================================================== -->
<section class="position-relative why-choose-01">
    <div class="container">
        <div class="row g-xl-5 ">
            <div class="col-lg-6 right-pd-4">
                <div class=" position-relative z-index-9">
                    <div class="section-title-04 mb-5 position-relative">
                        <span class="sm-title">Why Choose Us</span>
                        <h2 class="title-main2 mb-0">We Offer all types of Beauty Treatment</h2>
                        <div class="line"></div>
                    </div>
                    <p class="subtitle">Looking for an all-in-one beauty service that can come directly to your doorstep? We are here to provide you with the ultimate salon experience</p>
                    <div id="accordion" class="accordion-style">
                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. How to book our custom treatments ?</button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    We provide premium beauty and salon services at the comfort of your home, tailored to your needs. Select your desired services from our menu, schedule an appointment.                               
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. Are there also sports massages?</button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                   Yes, we also offer sports massages at home to help with muscle recovery and relaxation. Choose your preferred service and book an appointment.                               </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. How do you price your services?</button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Our pricing is based on the type of service, duration, and any customizations you select.                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="text-center why-choose-img position-relative">
                    <img src="../../../assets/why-choose-01.jpg" class="border-radius-10 z-index-9 position-relative img-fluid" alt="..."> 
                </div>
            </div>`
        </div>
    </div>
</section>

<!-- <router-outlet></router-outlet> -->
