
<section class="bg-light-color">
    <div class="container">
        <div class="section-title-04 center text-center mb-5 position-relative wow fadeInUp" data-wow-delay="100ms">
            <span class="sm-title">Services</span>
            <h2 class="title-main2 mb-0 w-sm-55 w-md-45 w-lg-40 w-xl-35 mx-auto">Welcome to the Beauty &amp; Spa Center</h2>
            <div class="line"></div>
        </div>
        <div class="row mt-n2-9">
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="100ms">
                <div class="card-style-01 border-md-end position-relative text-center">
                    <div class="card-hover-img"><img src="../../../assets/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="../../../assets/icons/icon-22.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Massage Therapy</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="150ms">
                <div class="card-style-01 border-lg-end two position-relative text-center">
                    <div class="card-hover-img"><img src="img/content/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="img/icons/icon-21.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Aroma Therapy</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="200ms">
                <div class="card-style-01 border-md-end border-lg-0 position-relative text-center card-no-border">
                    <div class="card-hover-img"><img src="img/content/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="img/icons/icon-20.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Organic Therapy</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="100ms">
                <div class="card-style-01 border-lg-end position-relative text-center">
                    <div class="card-hover-img"><img src="img/content/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="img/icons/icon-40.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Facial Treatments</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="150ms">
                <div class="card-style-01 border-md-end two position-relative text-center">
                    <div class="card-hover-img"><img src="img/content/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="img/icons/icon-38.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Body Waxing</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2-9 wow fadeInUp animated" data-wow-delay="200ms">
                <div class="card-style-01 border-lg-0 position-relative text-center card-no-border">
                    <div class="card-hover-img"><img src="img/content/shape-11.png" alt="..."></div>
                    <div class="card-img">
                        <img src="../../../assets/service/service-01.jpg" alt="...">
                        <div class="card-icon"><img src="img/icons/icon-39.png" alt="..."></div>
                    </div>
                    <h3 class="mb-3"><a href="services-details.html">Modern Beauty</a></h3>
                    <p class="card-text">Message Therapy is the best way of Spa cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TESTIMONIALS
================================================== -->
<!-- <section class="item bg-img cover-background " data-overlay-dark="7" data-background="img/bg/bg-08.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="testimonial-carousel1 owl-carousel owl-theme">
                    <div class="text-center">
                        <img src="img/icons/icon-37.png" alt="...">
                        <p class="text-white display-lg-21 display-md-24 display-26 text-center md-1-9 mb-md-2-9">“nail art is a game-changer. Instead of drowning in an endless chain of emails, there is clear and easy accountability meaning tasks actually get done! I highly recommend nail art.”</p>
                        <div>
                            <h4 class="text-white h5">Billi Reuss</h4>
                            <span class="text-white text-uppercase">Client of Bakery</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="img/icons/icon-37.png" alt="...">
                        <p class="text-white display-lg-21 display-md-24 display-26 text-center md-1-9 mb-md-2-9">“I have been using nail art for over a year now and I love it! I can't imagine life without it. It's so easy to use, and the customer service is great. nail art has made a huge difference!”</p>
                        <div>
                            <h4 class="text-white h5">Billi Reuss</h4>
                            <span class="text-white text-uppercase">Client of Bakery</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="img/icons/icon-37.png" alt="...">
                        <p class="text-white display-lg-21 display-md-24 display-26 text-center md-1-9 mb-md-2-9">“If you are a business owner, and you don't have nail art in your toolkit just yet, I highly recommend that you check it out. I have tried a few software of this kind and nail art is the best by far!”</p>
                        <div>
                            <h4 class="text-white h5">Billi Reuss</h4>
                            <span class="text-white text-uppercase">Client of Bakery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- WHY CHOOCE US
================================================== -->
<section class="position-relative why-choose-01 pt-lg-20">
    <div class="container">
        <div class="row g-xl-5 mt-n5">
            <div class="col-lg-6 mt-5">
                <div class="pe-xl-7 position-relative z-index-9">
                    <div class="section-title-04 mb-5 position-relative">
                        <span class="sm-title">Why Choose Us</span>
                        <h2 class="title-main2 mb-0">We Offer all types of Massage Therapy</h2>
                        <div class="line"></div>
                    </div>
                    <p class="mb-1-9">Massage is the manipulation of soft tissues in the body. The techniques are commonly applied with hands, fingers, or a device.</p>
                    <div id="accordion" class="accordion-style">
                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. How to book our custom treatments ?</button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    We are committed to providing our customers with exceptional service while offering our employees the best training. There are many variations of passages of lorem ipsum is simply free text.
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. Are there also sports massages ?</button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    We are committed to providing our customers with exceptional service while offering our employees the best training. There are many variations of passages of lorem ipsum is simply free text.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. How do you price your services?</button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    We are committed to providing our customers with exceptional service while offering our employees the best training. There are many variations of passages of lorem ipsum is simply free text.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="text-center why-choose-img position-relative">
                    <img src="../../../assets/why-choose-02.jpg" class="border-radius-10 z-index-9 position-relative" alt="...">
                    <!-- <div class="why-choose-shape-1 d-none d-md-block">
                        <img src="../../../assets/shape-11.png" alt="...">
                    </div> -->
                </div>
            </div>`
        </div>
    </div>
    <!-- <div class="position-absolute top-n10 top-md-n20 left-n30 left-lg-n20 opacity2">
        <img src="img/icons/icon-33.png" alt="...">
    </div> -->
</section>
