/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Montserrat";
    src: url(./assets/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "play-fair";
    src: url(./assets/PlayfairDisplay-BoldItalic.ttf);
}
@font-face {
    font-family: "play-fair-medium";
    src: url(./assets/PlayfairDisplay-Medium.ttf);
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'montserrat-light';
    src: url(./assets/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Mulish';
    src: url(./assets/Mulish-Regular.ttf);
}

/* shared css for our services  */
.card-style-01{
    background-color:transparent;
    margin-bottom: 2.5rem;
}
.card-style-01 .card-img{
    width:171px;
    height:171px;
    position:relative;
    display:block;
    overflow:hidden;
    margin:0 auto 30px
}
.card-style-01 .card-img img{
    object-fit:cover;
    border-radius:50% !important;
}
.card-style-01 svg{
    width:31px;
    height:4px;
    fill:#c2a74e;
    margin:15px auto
}
.card-no-border::after{
    display:none
}
.card-style-01:hover .card-img:after{
    -webkit-animation:zoom-hover 0.95s;
    animation:zoom-hover 0.95s
}
.card-style-01:hover .card-icon span{
    transform:scale(0.9)
}
.card-style-01:hover .card-hover-img{
    visibility:visible;
    opacity:1;transform:scale(1)
}
.card-style-01 .card-hover-img{
    position:absolute;
    left:12%;
    top:0px;
    visibility:hidden;
    opacity:0;
    transform:scale(1.1);
    transition:500ms ease
}
.card-style-01 .card-img img{
    object-fit:cover;
    border-radius:50%
}
.card-style-01 .card-img::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:0;
    height:0;
    background:rgba(255,255,255,0.2);
    border-radius:50%;
    transition:all 500ms linear;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    opacity:0;
    z-index:2
}
.card-style-01 .card-icon{
    width:66px;
    height:66px;
    background-color:#ff497c;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    position:absolute;
    right:0;
    bottom:0
}
.card-style-01 .card-icon span{
    transform:scale(1);
    transition:500ms ease
}
.card-style-01 .card-heading a{
    font-family: "play-fair-medium";
    color: #212121;
    font-size: 28px;
    transition: all 0.3s ease;
}
.card-style-01 .card-heading a:hover{
    color: #ff497c;
}
.card-style-01 .card-text{
    font-family: "Mulish", sans-serif;
    font-size:15px;
    line-height:26px;
    font-weight:500;
    margin:0 auto;
    width:85%
}
@keyframes zoom-hover{
    0%{opacity:1}40%{opacity:1}100%{width:120%;height:120%;opacity:0}
}
@media screen and (max-width: 1399px){
    .card-style-01 .card-text{
        width:82%
    }
}
@media screen and (max-width: 1199px){
    .card-style-01 .card-hover-img{
        left:0
    }
}
@media screen and (max-width: 991px){
    .card-style-01.two:after{
        display:none
    }
}
@media screen and (max-width: 767px){
    .card-style-01 .card-text{
        width:100%
    }
    .card-style-01 .card-hover-img{
        left:20%
    }
    .card-style-01:after{
        display:none
    }
}
@media screen and (max-width: 479px){
    .card-style-01 .card-hover-img{
        left:0
    }
}
