
<section class="bg-light-color w-100">
    <div class="container">
        <div class="row">
            <div class="section-title-04 center text-center mb-5 position-relative">
                <span class="sm-title">Services</span>
                <h2 class="title-main2 mb-0 col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 mx-auto">Flaunt stunning hairstyles</h2>
                <div class="line"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-8 ">
                <div class="row  blog-container">
                    <div class="col-lg-12">
                        <article class="card card-style-10  h-100 border-0">
                            <div class="image">
                                <img src="../../../assets/blog/blog-09.jpg" alt="...">
                            </div>
                            <span class="card-icon font-weight-700 z-index-2">30 Oct</span>
                            <div class="card-body ">
                                <div class="mb-3 text-icons">
                                    <span class="text-capitalize"><i class="fa-regular fa-user fa-lg align-middle me-2" style="color: #ff497c;"></i> <a href="">admin</a></span> <span class=" ms-3 d-inline-block"><i class="fa-solid fa-tags fa-lg align-middle me-2" style="color: #ff497c;"></i> <a href="">Spa</a></span>
                                </div>
                                <div class="blog-title-1">
                                    <h2 class="mb-3">Can I Run a Beauty Business from Home?</h2>
                                    <p>There are endless ways to create a some ways to have a business. We spend more time at the meetings than ever with knowledge melioration.</p>
                                    <p class="mb-2-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                </div>
                                <blockquote class="d-flex my-4 bg-light-yellow black-Quote p-1-6 p-lg-2-3  " >
                                    <i class="fa-solid fa-quote-left fa-2xl"></i>
                                    <div class="ms-3">
                                        <p class="lead">Diam luctus nostra varius and semper semper rutrum ad risus felis eros Cursus libero viverra tempus netus diam vestibulum quis porta.</p>
                                        <cite>- Yoeri Geense</cite>
                                    </div>
                                </blockquote>
                                <div class="blog-title-1">
                                    <h2 class="mb-3 ">Our Personal Approach</h2>
                                    <p class="mb-1-9">Aliquam condimentum, massa vel mollis volutpat, erat sem pharetra quam, ac mattis arcu elit non massa. Nam mollis nunc velit, vel varius arcu fringilla tristique. Cras elit nunc, sagittis eu bibendum eu, ultrices placerat sem. Praesent vitae metus auctor.</p>
                                </div>
                                <div class=" row align-items-center mb-5 mb-2-3 mt-n4 blog-details">
                                    <div class="col-md-6 mt-4  image-hover" >
                                        <img src="../../../assets/blog/blog-details-01.jpg" alt="..." class="img-fluid">
                                    </div>
                                    <div class="col-md-6 mt-4  image-hover" >
                                        <img src="../../../assets/blog/blog-details-02.jpg" alt="..." class="img-fluid">
                                    </div>
                                </div>
                                <p class="mb-4 " >No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself because it is painse</p>
                                <div class="row border-top border-color-light-black pt-4 pt-lg-5 mt-4 mt-lg-5 g-0">
                                    <div class="col-md-8 mb-4 mb-md-0 wow fadeIn" >
                                        <h5 class="h6 mb-3">Related Tags:</h5>
                                        <div class="blog-tags mt-n2">
                                            <a  href="">Solutions</a>
                                            <a href="">App</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 wow fadeIn" >
                                        <div class="blog-share-icon text-start text-md-end">
                                            <h5 class="h6 mb-3">Share:</h5>
                                            <ul class="list-unstyled m-0 p-0">
                                                <li class="d-inline-block me-2"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                                <li class="d-inline-block me-2"><a href=""><i class="fab fa-twitter"></i></a></li>
                                                <li class="d-inline-block me-2"><a href=""><i class="fab fa-dribbble"></i></a></li>
                                                <li class="d-inline-block me-2"><a href=""><i class="fab fa-youtube"></i></a></li>
                                                <li class="d-inline-block"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- comment -->
                    <div class="col-12 my-5">
                        <div>
                            <h3 class="h4 mb-4">3 Comments</h3>
                            <div class="d-flex border-bottom border-color-light-black pb-4 mb-5">
                                <div class="flex-shrink-0 me-4">
                                    <img src="../../../assets/avatars/avatar-01.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="h6 mb-2">Denis Irwin</h4>
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                    <a class="comment-reply-link" href="">Reply</a>
                                </div>
                            </div>
                            <div class="d-flex border-bottom border-color-light-black pb-4 mb-5">
                                <div class="flex-shrink-0 me-4">
                                    <img src="../../../assets/avatars/avatar-02.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="h6 mb-2">Erica Turner</h4>
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                    <a class="comment-reply-link" href="">Reply</a>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-4">
                                    <img src="../../../assets/avatars/avatar-03.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="h6 mb-2">John Martin</h4>
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                    <a class="comment-reply-link" href="">Reply</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end comment-->

                    <div class="col-12 ">
                        <h5 class="h6 mb-3" style="font-size: 23px;">Leave a reply</h5>
                        <!-- Form -->
                        <form>
                            <div class="row">
                                <div class="form-group">
                                    <textarea name="reply" rows="6" class="form-control h-100" placeholder="Your Reply"></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn-style1 medium border-0" type="submit"><span>Leave a Reply</span></button>
                            </div>
                        </form>
                        <!-- End Form -->

                    </div>
                </div>
            </div>

<!-- blog side baar  -->
            <div class="col-lg-4  blog-container">
                <div class="blog-sidebar ps-xl-5">
                    <div class="widget bg-white border border-color-light-black mb-1-9" >
                        <div class="widget-content">
                            <h5 class="mb-3">Search</h5>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search here...">
                                <div class="input-group-append">
                                    <button class="btn-style1 border-0 -0" type="button"><span><i class="fa fa-search"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget bg-white border border-color-light-black mb-1-9 " >
                        <div class="widget-content">
                            <h5 class="mb-3 ">Recent Posts</h5>
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0 me-3">
                                    <img src="../../../assets/blog/blog-thumb-01.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="mb-2 h6"><a href="">Define world best IT solution technology.</a></h4>
                                    <span class="opacity8 small">Jan 12, 2024</span>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0 me-3">
                                    <img src="../../../assets/blog/blog-thumb-02.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="mb-2 h6"><a href="">5 easy ways to improve your web security.</a></h4>
                                    <span class="opacity8 small">Jan 08, 2024</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <img src="../../../assets/blog/blog-thumb-03.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1">
                                    <h4 class="mb-2 h6"><a href="">How to create awesome web design.</a></h4>
                                    <span class="opacity8 small">Jan 05, 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget bg-white border border-color-light-black mb-1-9 " >
                        <div class="widget-content">
                            <h5 class="mb-4">Categories</h5>
                            <ul class="category-list list-unstyled mb-0">
                                <li><a href=""><span>Massage Therapy</span></a></li>
                                <li><a href=""><span>Aroma Therapy</span></a></li>
                                <li><a href=""><span>Body Waxing</span></a></li>
                                <li><a href=""><span>Facial Treatments</span></a></li>
                                <li><a href=""><span>Modern Beauty</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget bg-white border border-color-light-black mb-1-9 " >
                        <div class="widget-content">
                            <h5 class="mb-3">Tags</h5>
                            <div class="blog-tags mt-n2">
                                <a href="">Spa</a>
                                <a href="">Beauty</a>
                                <a href="">Hair</a>
                                <a href="">Skin</a>
                                <a href="">Salon</a>
                                <a href="">Therapy</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget bg-white border border-color-light-black " >
                        <div class="widget-content">
                            <h5 class="mb-3">Follow Us</h5>
                            <ul class="social-icon-style2 ps-0">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>